@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jokes Web Application</h1>
    <img src="/image/pngegg.png" class="img-fluid rounded w-75" alt="My Image" />
</div>
